<?xml version="1.0"?>
<robot name="d435_urdf" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Note that whenever possible, values from Realsense D435 were used.
       See Intel Document 337029-004: Intel RealSense TM D400 Series Product Family Datasheet.
       https://www.intel.com/content/dam/support/us/en/documents/emerging-technologies/intel-realsense-technology/Intel-RealSense-D400-Series-Datasheet.pdf

       Here, RGBD camera baselink frame corresponds to the left IR camera center, which is also the camera
       the sensor is calibrated to in real life and the point cloud is registered to.
  -->
  <xacro:include filename="$(find drone_description)/urdf/component_snippets.xacro" />

    <material name="black">
        <color rgba="0 0 0 1.0" />
    </material> -->

  <xacro:camera_macro
        namespace="${namespace}"
        parent_link="${namespace}/base_link"
        camera_suffix="infra1/image_rect_raw"
        frame_rate="30"
        horizontal_fov="1.5708" 
        image_width="640"
        image_height="480"
        image_format="L8"
        min_distance="0.3"
        max_distance="30.0"
        noise_mean="0.0"
        noise_stddev="0.01"
        enable_visual="true">
    <box size="0.01 0.01 0.01"/>
    <origin xyz="0.0507 -0.0175 -0.0698"
    rpy = "0 ${pi/4} 0"/>
  </xacro:camera_macro>

  <xacro:camera_macro
        namespace="${namespace}"
        parent_link="${namespace}/base_link"
        camera_suffix="infra2/image_rect_raw"
        frame_rate="30"
        horizontal_fov="1.5708" 
        image_width="640"
        image_height="480"
        image_format="L8"
        min_distance="0.3"
        max_distance="30.0"
        noise_mean="0.0"
        noise_stddev="0.01"
        enable_visual="true">
    <box size="0.01 0.01 0.01"/>
    <origin xyz="0.0507 0.0325 -0.0698"
    rpy = "0 ${pi/4} 0"/>
  </xacro:camera_macro>

</robot>