<launch>
    <node name="manual_control"
          type="manual_control_node_alt.py"
          pkg="nmpc_drone"
          output="screen">
        <rosparam file="$(find nmpc_drone)/config/control_param.yaml"/>
    </node>

    <node name="hgdo"
          type="hgdo_node"
          pkg="dist_est"
          output="screen">
        <rosparam file="$(find dist_est)/config/hgdo_param.yaml"/>
        <remap from="/wrench" to="/hgdo/wrench"/>
    </node>

    <node name="eskf_localization"
          type="eskf_node"
          pkg="eskf_loc"
          output="screen">
          <rosparam file="$(find eskf_loc)/config/eskf_param.yaml"/>
          <remap from="/mavros/imu/data_raw" to="/mavros_sim/imu/data_raw"/>
    </node>
</launch>