<launch>
    <node name="pos_control"
          type="pos_control_node.py"
          pkg="nmpc_drone"
          output="screen">
        <rosparam file="$(find nmpc_drone)/config/control_param.yaml"/>
    </node>

    <node name="ekf_dist"
          type="ekf_dist"
          pkg="dist_est"
          output="screen">
        <rosparam file="$(find dist_est)/config/ekf_param.yaml"/>
    </node>
</launch>