<launch>
    <node name="pos_control"
          type="pos_control_node.py"
          pkg="nmpc_drone"
          output="screen">
        <rosparam file="$(find nmpc_drone)/config/control_param.yaml"/>
        <remap from="/wrench" to="/hgdo/wrench"/>
    </node>

    <node name="hgdo"
          type="hgdo_node"
          pkg="dist_est"
          output="screen">
        <param name="publish_rate" type="double" value="100.0"/>
        <rosparam file="$(find dist_est)/config/hgdo_param.yaml"/>
    </node>

	<node pkg="eskf_loc"
				type="eskf_node"
				name="eskf_node" output="screen">
		<rosparam file="$(find eskf_loc)/config/eskf_param_sim.yaml"/>
		<remap from="/mavros/imu/data_raw" to="/mavros_sim/imu/data_raw"/>
	</node>
</launch>