<launch>
    <node name="hgdo" 
    pkg="dist_est" 
    type="hgdo_node"
    output="screen">
        <param name="publish_rate" type="double" value="100.0"/>
        <rosparam file="$(find dist_est)/config/hgdo_param.yaml"/>
        <remap from="/mavros/odometry/in" to="/custom_hexacopter/ground_truth/odometry"/>
    </node>
</launch>