<launch>

    <node pkg = "l1_estimator" type = "estimator_test" name = "estimator_test" output="screen"/>
        <param name="simulation_param_dir" value="$(find l1_estimator)/config/simulation_model.yaml"/>
        <param name="nominal_param_dir" value="$(find l1_estimator)/config/nominal_model.yaml"/>
        
        <param name="quad_model" type="int" value="1"/>
        <param name="simulation_final_time" type="double" value="10"/>
        <param name="discrete_time" type="double" value="0.01"/>
        
        <param name="kp" type="double" value="0"/>
        <param name="kv" type="double" value="0"/>
        <param name="kq" type="double" value="0.0"/>
        <param name="kw" type="double" value="0.0"/>

        <param name="b_sigma" type="double" value="10"/>
        <param name="e_sigma" type="double" value="10"/>
        
        <param name="b_theta" type="double" value="5"/>
        <param name="e_theta" type="double" value="10"/>

        <param name="Gamma_sigma" type="double" value="1000"/>
        <param name="Gamma_theta1" type="double" value="100"/>
        <param name="Gamma_theta2" type="double" value="100"/>
        <param name="Gamma_theta3" type="double" value="100"/>
        
        <param name="tau_sigma" type="double" value="10"/>
        <param name="tau_theta" type="double" value="2"/>

        <param name="line_width" type="double" value="6"/>
        <param name="font_size" type="double" value="32"/>

</launch>